body {
  margin: 0;
  background-color: #e0ebe8;
}

header {
  width: 100%;
  height: 250px;
}

#titel {
  width: 100%;
  text-align: center;
  color: #000000;
  font-family: 'Indie Flower', cursive;
}

#wrapper {
  width: 1000px;
  height: 1000px;
  margin: auto;
  background-color: ;
}

nav {
  float: right;
  width: 100%;
  text-align: right;
}

nav ul {
  margin: 0px;
  padding: 40px 30px 0px 0px;
}

nav ul li {
  display: inline;
  list-style-type: none;
  margin-left: 20px;
  margin-right: 20px;
}

nav li a {
  color: #000;
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: #e0ebe8;
  opacity: 0.5;
}

li #active {
  color: #555;
}

hr {
  border-top: solid #757575;
  width: 1000px;
  height: 0;
  float: left;
  margin-left: 140px;
}

#by {
  float: left;
  height: 300px;
  width: 450px;
  margin-right: 100px;
}

#pepsi {
  float: left;
  height: 300px;
  width: 450px;
}

#euroman {
  float: left;
  height: 300px;
  width: 450px;
  margin-top: 50px;
}

#ar {
  float: right;
  height: 300px;
  width: 450px;
  margin-top: 50px;

}

#avatar {
  float: right;
  height: 300px;
  width: 200px;
  margin-top: 50px;
  margin-right: 130px;
}

#fabeldyr {
  float: left;
  height: 300px;
  width: 450px;
  margin-top: 50px;
}

#landskab {
  float: left;
  height: 300px;
  width: 450px;
  margin-top: 50px;
}

#aim {
  float: right;
  height: 300px;
  width: 450px;
  margin-top: 50px;
}

footer {
  float: left;
  width: 100%;
  height: 150px;
  margin-top: 50px;
  background-color: #cdd3d1;
}

p {
  width: 100%;
  position: relative;
  top: 80px;
  opacity: 0.6;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #555;
}

.fa {
  padding: 10px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  text-align: center;
  position: relative;
  margin-left: 10px;
  margin-bottom: 0;
}

.socialmedia {
  background-color:;
  position: relative;
  top: 65px;
  margin-left: 30px;
}

.fa:hover {
  opacity: 0.5;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-envelope {
  background: #137ad3;
  color: white;
}

.fa-wordpress {
  background: #21759b;
  color: white;
}
